/* =============== MODAL =============== */
.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-box {
    background: white;
    width: 400px;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    position: relative;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/* =============== HEADER =============== */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

/* =============== PROPERTIES GRID =============== */
.properties-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    grid-gap: 20px;
    padding: 20px;
}

.property-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.property-card img {
    width: 100%;
    height: auto;
}

.property-content {
    padding: 15px;
    text-align: center;
}

.property-content h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.property-price {
    font-size: 1.2rem;
    color: #2c3e50;
}

.btn-primary {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
#plotlyChart {
            flex-grow: 1;
        }

.modal-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-box {
    background: white;
    width: 600px;
    max-width: 95%;
    height: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
    position: relative;
    display: flex;
    flex-direction: column;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/* =============== FOOTER =============== */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

