<!-- templates/header.html -->
<header style="background-color: black; padding: 10px 20px;">
    <div style="display: flex; align-items: center;">
        

        <img src="{{ url_for('static', filename='images/header.png') }}"
             alt="Ciampitti Lab"
             style="height: 60px; width: 60px; object-fit: cover;">

        <h1 style="color: white; margin-left: 15px; font-size: 28px;">
           
        </h1>
    </div>

    <nav style="background-color: black; padding: 1px 0; text-align: center; margin-top: 1px; font-size: 32px;">
    <a href="/"
       style="color: white; margin: 0 15px; text-decoration: none;">
       Optimum Nitrogen Rate across Indiana State
    </a>
    </nav>
</header>
